body{
    background-color: #F3F5FC;
}

.logo{
    margin-top: 6.4vw;/*24px*/
    margin-bottom: 6.4vw;/*24px*/
    margin-left: 4.27vw;/*16px*/
    width: 8.53vw;/*32px*/
}

.pagina_bienvenida{
    margin-top: 45.07vw;/*169px*/
}

.pagina_agregar_palabra{
    margin-top: 0;
}

.ahorcado{
    display: none;
    margin: 10.67vw auto;/*40px*/
    margin-bottom: 0;
    background-color: transparent;
    width: 76.53vw;/*287px*/
    height: 93.6vw;/*351px*/
}

.adivinar{
    display: none;
    margin: 10.67vw auto;/*40px*/
    background-color: transparent;
    width: 81.07vw;/*304px*/
    height: 30.93vw;/*116px*/
}

.entrada{
    display: none;
    width: 91.47vw;/*343px*/
    height: 62.67vw;/*235px*/
    margin: 0 auto;
    margin-top: 14.93vw;/*56px*/

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 8.53vw;/*16px*/
    line-height: 150%;
    color: #0A3871;

    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
}

.entrada::placeholder{
    color: #0A3871;
}

.entrada:focus{
    outline: none;
}

#alerta{
    display: none;
}

.alerta_gris svg, .alerta_roja svg{
    width: 4.27vw;/*16px*/
    margin-left: 4.27vw;/*16px*/
    margin-right: 2.13vw;/*8px*/
}

.alerta_gris svg path{
    fill: #67808E;
}

.alerta_gris, .alerta_roja{
    margin-top: 17.07vw;/*64px*/

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2vw;/*12px*/
    line-height: 150%;
    color: #67808E;

    display: flex;
    align-items: center;
}

.alerta_roja svg path{
    fill: #dc1515;
}

.alerta_roja{
    color: #dc1515;
}

.boton_iniciar, .boton_agregar, .boton_guardar, .boton_cancelar, .boton_nuevo, .boton_desistir{
    display: block;
    margin-top: 4.27vw;/*16px*/
    margin-left: auto;
    margin-right: auto;
    width: 91.47vw;/*343px*/
    height: 17.87vw;/*67px*/

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 4.27vw;/*16px*/
    line-height: 118%;

    border: none;
    border-radius: 6.4vw;/*24px*/
}

.boton_guardar, .boton_cancelar, .boton_nuevo, .boton_desistir{
    display: none;
}

.boton_iniciar, .boton_guardar, .boton_nuevo{
    background-color: #0A3871;
    color: white;
}

.boton_iniciar{
    width: 84.53vw;/*317px*/
    height: 28vw;/*105px*/
}

.boton_agregar, .boton_cancelar, .boton_desistir{
    background-color: transparent;
    color: #0A3871;
    border: 1px solid #0A3871;
}

.boton_agregar{
    width: 74.13vw;/*278px*/
}

@media screen and (min-width:600px){
    .logo{
        margin-top: 9.73vw;/*74.72px*/
        margin-bottom: 9.73vw;/*74.72px*/
        margin-left: 5.21vw;/*40px*/
        width: 4.05vw;/*31.09px*/
    }

    .pagina_bienvenida{
        margin-top: 34.02vw;/*261.28px*/
    }
    
    .pagina_agregar_palabra{
        margin-top: 0;
        margin-left: 5.21vw;/*40px*/
        display: inline-flex;
        gap: 3.13vw;/*24px*/
    }

    .ahorcado{
        margin: 5.21vw auto;/*40px*/
        margin-bottom: 0;
        width: 38.28vw;/*294px*/
        height: 46.88vw;/*360px*/
    }
    
    .adivinar{
        margin: 7.29vw auto;/*56px*/
        width: 60.42vw;/*464px*/
        height: 23.05vw;/*177px*/
    }

    .entrada{
        width: 89.58vw;/*688px*/
        height: 81.64vw;/*627px*/
        margin-top: 5.38vw;/*41.28px*/
        font-size: 4.17vw;/*32px*/
    }
    
    .alerta_gris svg, .alerta_roja svg{
        width: 2.08vw;/*16px*/
        margin-left: 5.21vw;/*40px*/
        margin-right: 1.04vw;/*8px*/
    }

    .alerta_gris svg path{
        fill: #495057;
    }
    
    .alerta_gris, .alerta_roja{
        margin-top: 2.08vw;/*16px*/
        font-size: 1.56vw;/*12px*/
    }

    .alerta_gris{
        color: #495057;
    }

    .boton_iniciar, .boton_agregar, .boton_guardar, .boton_cancelar, .boton_nuevo, .boton_desistir{
        margin-top: 2.08vw;/*16px*/
        width: 43.23vw;/*332px*/
        height: 8.72vw;/*67px*/

        font-size: 2.08vw;/*16px*/
        
        border-radius: 3.13vw;/*24px*/
    }
    
    .boton_iniciar{
        width: 41.28vw;/*317px*/
        height: 13.67vw;/*105px*/
    }
    
    .boton_agregar{
        margin-top: 4.95vw;/*38px*/
        width: 39.58vw;/*304px*/
    }
}

@media screen and (min-width:992px){
    .logo{
        margin-top: 2.78vw;/*40px*/
        margin-bottom: 2.78vw;/*40px*/
        margin-left: 5.83vw;/*84px*/
        width: 2.16vw;/*31.09px*/
    }

    .pagina_bienvenida{
        margin-top: 19.03vw;/*274px*/
    }

    .pagina_agregar_palabra{
        margin-left: 26.11vw;/*376px*/
        gap: 1.67vw;/*24px*/
    }

    .ahorcado{
        margin-top: 3.47vw;/*50px*/
        margin-left: 60.56vw;/*872px*/
        margin-bottom: 2.95vw;/*43px*/
        width: 20.42vw;/*294px*/
        height: 25vw;/*360px*/
    }
    
    .adivinar{
        margin-top: -18.68vw;/*-269px*/
        margin-left: 19.07vw;/*274px*/
        width: 32.22vw;/*464px*/
        height: 12.29vw;/*177px*/
    }

    .entrada{
        width: 47.78vw;/*688px*/
        height: 27.43vw;/*395px*/
        margin-top: 2.22vw;/*32px*/
        font-size: 2.22vw;/*32px*/
    }
    
    .alerta_gris svg, .alerta_roja svg{
        width: 1.11vw;/*16px*/
        margin-left: 26.11vw;/*376px*/
        margin-right: 0.56vw;/*8px*/
    }
    
    .alerta_gris, .alerta_roja{
        margin-top: 1.11vw;/*16px*/
        font-size: 0.83vw;/*12px*/
    }

    .boton_iniciar, .boton_agregar, .boton_guardar, .boton_cancelar, .boton_nuevo, .boton_desistir{
        margin-top: 1.11vw;/*16px*/
        width: 23.06vw;/*332px*/
        height: 4.65vw;/*67px*/

        font-size: 1.11vw;/*16px*/
        
        border-radius: 1.67vw;/*24px*/
    }
    
    .boton_iniciar{
        font-size: 1.25vw;/*18px*/
        width: 22.01vw;/*317px*/
        height: 7.92vw;/*114px*/
    }
    
    .boton_agregar{
        margin-top: 2.64vw;/*38px*/
        width: 19.44vw;/*280px*/
    }
}