body{
    margin: 0;
    background-color: #F3F5FC;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.logo{
    position: absolute;
    top: 6.4vw;/*24px*/
    left: 4.27vw;/*16px*/
    width: 8.53vw;/*32px*/
}

.ocultado {
    display: none;
}

/* --------------------------------------------------------------------------------------------------------------------- */
.home {
    height: 100vh;
    align-content: center;
}

.home__btn{
    display: block;
    margin: auto;
    font-size: 1.4rem;
    border-radius: 6vw;
    border: 1px solid #0A3871;
}

.home__btn--add{
    background-color: transparent;
    color: #0A3871;
    width: 75vw;
    height: 18vw;
}

.home__btn--start{
    background-color: #0A3871;
    color: white;
    width: 85vw;
    height: 28vw;
    margin-top: 4.27vw;/*16px*/
}

/* --------------------------------------------------------------------------------------------------------------------- */
.add-word__input {
    display: block;
    width: 91.47vw;/*343px*/
    height: 62.67vw;/*235px*/
    margin: auto;
    margin-top: 30vw;/*56px*/

    font-size: 8.53vw;/*16px*/
    line-height: 150%;
    color: #0A3871;

    background-color: transparent;
    resize: none;
    outline: none;
    
    border: none;
}

.add-word__input::placeholder{
    color: #0A3871;
}

.add-word__input:focus::placeholder{
    color: #67808E;
}

.add-word__input:focus-visible{
    outline: none;
}

.add-word__warning {
    margin-top: 17.07vw;/*64px*/
    display: flex;
    align-items: center;
}

.add-word__warning--symbol {
    margin-left: 4.27vw;/*16px*/
    margin-right: 2.13vw;/*8px*/
}

.add-word__warning--text {
    display: inline;
    font-size: 3.2vw;/*12px*/
    color: #67808E;
}

.active-warning {
    filter: brightness(0) saturate(100%) invert(22%) sepia(87%) saturate(4866%) hue-rotate(351deg) brightness(85%) contrast(103%);
}

.add-word__btn {
    display: block;
    margin: auto;
    margin-top: 4.27vw;/*16px*/
    width: 75vw;
    height: 18vw;

    font-size: 1.4rem;
    border-radius: 6vw;
    border: 1px solid #0A3871;
}

.add-word__btn--save {
    background-color: #0A3871;
    color: white;
}

.add-word__btn--cancel {
    background-color: transparent;
    color: #0A3871;
}

/* --------------------------------------------------------------------------------------------------------------------- */
.game__canvas-box{
    margin-top: 25vw;
}

.game__canvas {
    display: block;
    margin: auto;
    background-color: transparent;
}

.game__canvas--hangman{
    width: 76.53vw;
    aspect-ratio: 1/1;
}

.game__canvas--guess{
    width: 76.53vw;
    aspect-ratio: 21/8;
}

.game__btn {
    display: block;
    margin: auto;
    margin-top: 4.27vw;/*16px*/
    width: 75vw;
    height: 18vw;

    font-size: 1.4rem;
    border-radius: 6vw;
    border: 1px solid #0A3871;
}

.game__btn--new{
    background-color: #0A3871;
    color: white;
}

.game__btn--withdraw{
    background-color: transparent;
    color: #0A3871;
}

/* --------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:600px){
    .logo{
        top: 9.73vw;/*74.72px*/
        left: 5.21vw;/*40px*/
        width: 4.05vw;/*31.09px*/
    }

    .home__btn{
        font-size: 1.2rem;/*16px*/
        border-radius: 3.13vw;/*24px*/
    }

    .home__btn--add{
        width: 39.58vw;/*304px*/
        height: 8.72vw;/*67px*/
    }

    .home__btn--start{
        width: 41.28vw;/*317px*/
        height: 13.67vw;/*105px*/
        margin-top: 2.08vw;/*16px*/
    }
    
    /* --------------------------------------------------------------------------------------------------------------------- */

    .add-word__input{
        width: 89.58vw;/*688px*/
        height: 40.64vw;/*627px*/
        margin-top: 25vw;/*41.28px*/
        font-size: 4.17vw;/*32px*/
    }
    
    .add-word__warning{
        margin-top: 0;
    }

    .add-word__warning--symbol{
        width: 2.08vw;/*16px*/
        margin-left: 5.21vw;/*40px*/
        margin-right: 1.04vw;/*8px*/
    }
    
    .add-word__warning--text{
        font-size: 1rem;/*12px*/
    }

    .add-word__btn{
        margin-top: 2.08vw;/*16px*/
        width: 43.23vw;/*332px*/
        height: 8.72vw;/*67px*/
        font-size: 1.2rem;/*16px*/
        border-radius: 3.13vw;/*24px*/
    }

    /* --------------------------------------------------------------------------------------------------------------------- */
    .game__canvas--hangman{
        width: 46.88vw;
    }
    
    .game__canvas--guess{
        width: 46.88vw;
    }

    .game__btn{
        margin-top: 2.08vw;/*16px*/
        width: 43.23vw;/*332px*/
        height: 8.72vw;/*67px*/
        font-size: 1.2rem;/*16px*/
        border-radius: 3.13vw;/*24px*/
    }
}
/* --------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:992px){
    .logo{
        top: 2.78vw;/*40px*/
        left: 5.83vw;/*84px*/
        width: 2.16vw;
    }

    .home__btn{
        font-size: 1.11vw;/*16px*/
        border-radius: 1.67vw;/*24px*/
    }
    
    .home__btn--add{
        width: 19.44vw;
        height: 4.65vw;
    }
    
    .home__btn--start{
        margin-top: 2.64vw;
        width: 22.01vw;
        height: 7.92vw;
    }

    /* --------------------------------------------------------------------------------------------------------------------- */    
    .add-word__input{
        width: 47.78vw;
        height: 27.43vw;
        margin-top: 10.30vw;
        font-size: 2.22vw;
    }

    .add-word__warning{
        margin-top: 1.11vw;/*16px*/
    }

    .add-word__warning--symbol{
        width: 1.11vw;/*16px*/
        margin-left: 26.11vw;/*376px*/
        margin-right: 0.56vw;/*8px*/
    }

    .add-word__warning--text{
        font-size: 0.83vw;/*12px*/
    }

    .add-word__btn-box{
        display: flex;
        justify-content: center;
        gap: 1.5vw;
        margin-top: 1.11vw;
    }

    .add-word__btn{
        margin: 0;
        width: 23.06vw;/*332px*/
        height: 4.65vw;/*67px*/
        font-size: 1.11vw;/*16px*/
        border-radius: 1.67vw;/*24px*/
    }

    /* --------------------------------------------------------------------------------------------------------------------- */

    .game__canvas-box{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 8vw;
        margin-top: 10vw;
        margin-bottom: 7.8vw;
    }

    .game__canvas{
        margin: 0;
    }

    .game__canvas--hangman{
        width: 25vw;
    }

    .game__canvas--guess{
        width: 25vw;
    }

    .game__btn-box {
        display: flex;
        justify-content: center;
        gap: 1.5vw;
        margin-top: 1.11vw;
    }

    .game__btn{
        margin: 0;
        width: 23.06vw;/*332px*/
        height: 4.65vw;/*67px*/
        font-size: 1.11vw;/*16px*/
        border-radius: 1.67vw;/*24px*/
    }
}